<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>insta485</title>
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="topnav">
            <a href="/">Insta485</a>
            <div class="topnav-right">
                <a href="{{url_for('show_explore')}}">explore</a>
                <a href="{{url_for('user', user_url_slug=logname)}}">{{logname}}</a>
            </div>
        </div>
        <div id="reactEntry">
            Loading ...
        </div>
        <!-- Load JavaScript -->
        <script
          type="text/javascript"
          {% if config['ENV'] == 'production' %}
          src="{{ url_for('static', filename='js/bundle.min.js') }}"
          {% else %}
          src="{{ url_for('static', filename='js/bundle.dev.js') }}"
          {% endif %}
        ></script>
    </body>
</html>
